@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

/* 
    Font Usage
    font-family: 'Sen', sans-serif;
*/

* {
    font-family: 'Sen', sans-serif;
}

#head-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

#head-text {
    font-size: 2em;
}

#data-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#data-container>img {
    height: 60vh;
    width: auto;
}

#form-link {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-link-text {
    font-size: 1.5em;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    #data-container>img {
        width: 60vw;
        height: auto;
    }
}